.navbar-expand .navbar-nav .user-menu .dropdown-menu{
    margin-left: -50%;
}


.secondary-navbar{
    margin: 0!important;
    padding: 4px 0 ;
    background: rgba(204,0,99,1);
    background: -moz-linear-gradient(left, rgba(204,0,99,1) 0%, rgba(143,24,68,1) 51%, rgba(184,0,101,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,0,99,1)), color-stop(51%, rgba(143,24,68,1)), color-stop(100%, rgba(184,0,101,1)));
    background: -webkit-linear-gradient(left, rgba(204,0,99,1) 0%, rgba(143,24,68,1) 51%, rgba(184,0,101,1) 100%);
    background: -o-linear-gradient(left, rgba(204,0,99,1) 0%, rgba(143,24,68,1) 51%, rgba(184,0,101,1) 100%);
    background: -ms-linear-gradient(left, rgba(204,0,99,1) 0%, rgba(143,24,68,1) 51%, rgba(184,0,101,1) 100%);
    background: linear-gradient(to right, rgba(204,0,99,1) 0%, rgba(143,24,68,1) 51%, rgba(184,0,101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0063', endColorstr='#b80065', GradientType=1 );
    color: #fff;
    -webkit-box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    -moz-box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}



.btn-toolbar .btn-tool{
    margin: 5px;
  }