.navbar-expand .navbar-nav .user-menu .dropdown-menu{
    margin-left: -50%;
}


.secondary-navbar{
    margin: 0!important;
    padding: 4px 0 ;
    background: rgb(0,131,173);
    background: -moz-linear-gradient(90deg, rgba(0,131,173,1) 0%, rgba(24,110,143,1) 50%, rgba(3,141,189,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,131,173,1) 0%, rgba(24,110,143,1) 50%, rgba(3,141,189,1) 100%);
    background: linear-gradient(90deg, rgba(0,131,173,1) 0%, rgba(24,110,143,1) 50%, rgba(3,141,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0083ad",endColorstr="#038dbd",GradientType=1);
    color: #fff;
    -webkit-box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    -moz-box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    box-shadow: -1px 14px 11px -7px rgba(153,153,153,1);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}



.btn-toolbar .btn-tool{
    margin: 5px;
  }

  @media(max-width: 680px){
    .dropdown-menu{
        box-shadow: none;
        border: none;
        border-radius: none;
    }
}
